
/*

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.monospace {
  font-family: 'Inconsolata', monospace;
}
*/

html, body {
  height: 100%;
}

body {
  background-color: #444455;
}

.form-component {
  display: block;
  margin: 0 auto;
  padding: 0px 0px;
}

.form-container {
  flex-grow: 1;
}

button.form-component {
  width: 100% !important;
}

.horizontal-stack {
  width: 100% !important;
  display: flex !important;
}

button:hover {
  background-color: #4CAF50;
  font-weight: bold;
}

.footer-text {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  color: white;
  padding-right: 2em;
  text-align: right;
  font-family: 'Inconsolata', monospace;
}

.tab-selector {
  text-decoration: none;
  font-family: 'Inconsolata', monospace;
  color: white;
  display: block;
  width: auto;
  padding: 1em 1em;
  background-color: #444455;
}

.tab-wrapper {
  display: flex;
}

.tab-selector-active {
  text-decoration: none;
  font-family: 'Inconsolata', monospace;
  color: white;
  display: block;
  width: auto;
  padding: 1em 1em;
  background-color: #282c34;
}

.tab-wrapper {
  border-bottom-style: solid !important;
  border-bottom-width: 5px !important;
  border-bottom-color: #4CAF50 !important;
}

.about-container {
  color: white;
  font-family: 'Inconsolata', monospace;
  width: 80%;
  margin: 0 auto;
  padding-top: 25px !important;
}

.about-container p {
  padding: 0.75em 0.75em;
  display: block;
}

.text-link {
  color: white;
}